.footer_main{
  margin-top: 8rem;  
  align-items: center;
  justify-content: center;
}
.footer_main .photo{
  position: absolute;
  z-index: -1;
  margin-top: 5rem;
  filter: opacity(20%);
  -webkit-filter: opacity(20%);
}
.footer_main a{
  color:#FF914D;
}
.footer_main a:hover{
  color: white;
}
.links_legal{
  display: flex;
  flex-direction: column;
}
.redes_sociales a{
  padding: 1rem;
}
.line{
  width: 100%;
  height: 0.3rem;
  background-color: #FF914D;
}